.navbar-nav .nav-link.active {
    color: black;
    }

        .team-heading {
                color: navy; /* Change the color to your desired color */
                font-size: 24px; /* Adjust the font size */
                font-weight: bold; /* Optionally, make the text bold */
                text-align: center; /* Align the text to the center */
                margin-bottom: 20px; /* Add some bottom margin for spacing */
                margin-top: 20px; /* Add some bottom margin for spacing */

    }

            .team-section {
            text-align: center; /* Center align the content */
            margin-top: 20px; /* Adjust top margin as needed */
    }

        .team-member {
            display: inline-block; /* Display team members in a row */
            margin: 20px; /* Add margin around team members */
    }

        .team-member img {
            width: 100px; /* Adjust the width of the circular images */
            height: 100px; /* Adjust the height of the circular images */
            border-radius: 50%; /* Create circular images */
            object-fit: cover;
            border: 2px solid navy; /* Add border color and thickness */
    }

        .team-member p {
            margin-top: 10px; /* Add top margin for the name */
            font-weight: bold;
    }

    /* Add these styles to your existing CSS file or in a <style> tag within the <head> section */
.mission-box,
.vision-box {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.mission h5,
.vision h5 {
    font-size: 24px;
    font-weight: bold;
    color: #198754;
}

.mission p,
.vision p {
    font-size: 18px;
    color: #333;
}


        
    
    

        .fixed-top {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
    }
    #userAuth {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    #userAuth a {
        text-decoration: none;
        padding: 10px 20px; /* Add padding to the buttons */
        border: 2px solid #009688;
        border-radius: 5px;
        color: #009688;
        transition: all 0.3s ease;
        margin: 10px; /* Add margin around the buttons */
    }
    
    #userAuth a:hover {
        background-color: #009688;
        color: white;
    }

    html, body {
        min-height: 100%;
    }
    
    
