/* Basic styles for the header */
header {
    /* background-color: #333; */
    /* color: #fff; */
    text-align: center;
    padding: 20px;
    margin:  50px 100px 50px;
}

/* Style for navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background-color: #333; */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    /* color: #fff; */
}

/* Style for main content sections */
main {
    padding: 20px;
}

/* Style for the footer */
footer {
    text-align: center;
    /* background-color: #333; */
    /* color: #fff; */
    padding: 10px;
}

/* style for community-guides */
table {
    border-collapse: collapse; /* Collapse borders into a single border line */
    width: 100%;
}
th {
    background-color: #f2f2f2; /* Optional background color for header cells */
}
th, td {
    padding: 8px; /* Add some padding for better spacing */
}
tr:not(:first-child) td {
    border-bottom: 1px solid #000; /* Add a 1px solid black border to non-header cells */
}

main{
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    padding: 20px;
    
}
