.carousel-caption h5,
.carousel-caption p {
    color: black;
    background-color: wheat;
}

.carousel-item img {
    height: 400px; /* Adjust the height as per your preference */
    width:300px;
    object-fit: cover;
}

.video{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#userAuth {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#userAuth a {
    text-decoration: none;
    padding: 10px 20px; /* Add padding to the buttons */
    border: 2px solid #009688;
    border-radius: 5px;
    color: #009688;
    transition: all 0.3s ease;
    margin: 10px; /* Add margin around the buttons */
}

#userAuth a:hover {
    background-color: #009688;
    color: white;
}

.carousel-inner img {
    width: 450px; /* Specify the desired width */
    height: 350px; /* Specify the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire area */
}

html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
}

.container {
    flex: 1; /* Use flex property to push the footer down to the bottom */
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
      color: black; 
}

.carousel-control-prev,
.carousel-control-next {
        filter: invert(100%); /* Invert the color of the control button icons */
}


