body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #9dc09e;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #fff;
    padding: 100px 0;
    text-align: center;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #9dc09e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #9dc09e;
}

.featured-products {
    padding: 50px 0;
}

footer {
    background: #9dc09e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#userAuth{
    position: absolute;
    right: 10px;
    top:55px;
    display: flex;
}
#userAuth a{
    color: white;
    text-decoration: none;
    margin-right:20px ;
}
#userAuth a:hover{
    text-decoration: underline;
}