/* Basic styles for the header */
header {
    /* background-color: #333; */
    /* color: #fff; */
    text-align: center;
    padding: 20px;
}

/* Style for navigation menu */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* background-color: #333; */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    /* color: #fff; */
}

/* Style for main content sections */
main {
    padding: 20px;
}

/* Style for the footer */
footer {
    text-align: center;
    /* background-color: #333; */
    /* color: #fff; */
    padding: 10px;
}

/* style for community-guides */
table {
    border-collapse: collapse; /* Collapse borders into a single border line */
    width: 100%;
}
th {
    background-color: #f2f2f2; /* Optional background color for header cells */
}
th, td {
    padding: 8px; /* Add some padding for better spacing */
}
tr:not(:first-child) td {
    border-bottom: 1px solid #000; /* Add a 1px solid black border to non-header cells */
}
li {
    color: black;
}
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.btn-primary {
    background-color: black;
    border: black;
}
div {
    position: relative;
    text-align: center;
    justify-content: center;
}